In [6]:
features

   weight   age  num_sessions_p_year
0   103.2  26.0                 38.8
1    92.2   0.0                 12.2
2   100.8  46.0                 16.9
3    88.8  32.0                 11.0
4   105.0  22.0                 28.2

In [7]:
targets

   future_sessions  session_length  expected_membership_length
0             78.0            88.0                        92.0
1            306.0           196.0                       403.0
2             51.0            88.0                       114.0
3            103.0           204.0                       123.0
4             25.0             4.0                        11.0

In [9]:
from sklearn.datasets import make_regression
import numpy as np
import pandas as pd

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor

In [11]:
model = RandomForestRegressor(n_estimators=100, random_state=1)
mor = MultiOutputRegressor(model, n_jobs=-1)
mor.fit(X_train, y_train)

MultiOutputRegressor(estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=1, verbose=0, warm_start=False),
           n_jobs=-1)

In [12]:
y_pred = mor.predict(X_test)
y_pred[:5]

array([[  23.17,   19.75,   76.43],
       [  65.58,   53.4 ,  114.34],
       [  20.84,   15.1 ,   35.64],
       [  70.51,  131.94,   70.75],
       [  35.39,   27.87,   29.19]])