In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0, 1000, size=(100, 5)), columns=list('ABCDE'))

In [3]:
df.head()
train, test, validate = df.split()

     A    B    C    D    E
0  517  625  755   40  291
1  141  234  837   42  540
2  679  182  465  620  523
3  951  491  430  570  660
4  871  682  163  151  882

In [4]:
df.sample(frac=1)

      A    B    C    D    E
83  914  235  135  530  130
69  429  506  804  492  357
68  814  307  399   96  370
3   951  491  430  570  660
14  165  474  796   18  715
23  931   81   38  635  318
13  263  946  836  600  628
27  902  998  228  472  969
39  926   77  963  165  340
72  965  550  322  617  786
40  454  813  590   12  276
43  480  155  946   89  869
97  927  227  348  185  785
10  611  376  613  211  412
84  412   44  815  715  243
28  137  437  534  646  875
12  380   25  774   64  326
42  248  589   84  123  761
49  286  110  351  951  196
17  772  251  947  750  278
1   141  234  837   42  540
51  989  832  585  112  798
26  653  401  777  646  107
89  567  619  491  448  563
44  141   49  360  954  944
88  416  559  190  858  690
25  716  561   66  142  144
61  634  294    8  288  716
92  576  485  676  422  360
45  950  789  807  509   85
..  ...  ...  ...  ...  ...
7   317  687  583  491  309
64  482  611  303  270  407
31  997   27  354  938  171
87  263  550  263  994  950
56  910  519  284  229  762
99  455   20  800   39  224
74   97  257  644  934  860
41  962  612  131   21  960
57  655   39  582  131  284
96  263   24  293  332  849
71   92  967  964  258  240
62  215  113  930  197  349
6   745  854  871  212  941
5   100  813  987  684  285
9   442  735  105   76  761
33  383  888   52  440  335
50  803  730  625  381  734
4   871  682  163  151  882
60  292  320  625  995  597
37   80  226  947  653  816
67  486  309  285  734  137
59  458  748   78   12  705
82  139  417  927  392  761
46  449   39  729  502  281
94  875  516  215  893  387
15   67  381  273  227  869
54  139  825  698   30  384
29  159   10  466  662  661
30  719  474  950  845  396
76  269  229  748  393  395

[100 rows x 5 columns]

In [5]:
train, validate, test = np.split(df.sample(frac=1), [int(0.6*len(df)), int(0.8*len(df))])

In [7]:
len(train)

60

In [10]:
len(test)

20